<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input class="form-control" type="text" formControlName="isbn" id="isbn" placeholder="Enter ISBN" required>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" formControlName="title" id="title" placeholder="Enter Title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input class="form-control" type="text" formControlName="author" id="author" placeholder="Enter Author" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" formControlName="description" id="description" placeholder="Enter Description" required>
            </div>
            <div class="form-group">
                <label for="published_year">Published Year</label>
                <input class="form-control" type="text" formControlName="published_year" id="published_year" placeholder="Enter Published Year" required>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input class="form-control" type="text" formControlName="publisher" id="publisher" placeholder="Enter Publisher" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Book</button>
            </div>
        </form>
    </div>
</div>
